.login {
  margin: 0;
  padding: 0;
  background: url(../public/images/Fondo-login-unsplash.jpg) no-repeat center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 200vh;
}

.login-box {
  width: 320px;
  height: 450px;
  background: rgba(158, 188, 174, 0.258);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.logo-login {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 120px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  font-size: 25px;
}

.input {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  background: rgba(233, 239, 234, 0.335);
  height: 40px;
  color: black;
  font-size: 16px;
}

button {
  width: 100%;
  height: 40px;
  border: none;
  background: rgb(5, 179, 5);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
}

.enlace-login {
  text-decoration: none;
  font-size: 14px;
  color: white;
  line-height: 20px;
  margin-bottom: 10px;
}

.enlace-login:hover {
  color: green;
}

.signup-box {
  width: 320px;
  height: 600px;
  background: rgba(158, 188, 174, 0.258);
  color: #fff;
  margin-top: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.menu {
  background-color: rgba(208, 194, 144, 0.519);
  opacity: 0.9;
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 50px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  gap: 20px;
  transition: all 500ms ease;
}

.link-menu {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.link-menu:hover {
  color: green;
}

.li_menu:hover {
  color: green;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.logo {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 100;
}

.intro {
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: -250px;
}

.buscador {
  width: 350px;
  height: 50px;
  border: 2px solid green;
  border-radius: 40px;
  position: relative;
  outline: none;
  display: flex;
  justify-content: flex-start;
}

.options {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-items: end;
  width: 35%;
}

button {
  padding: 2px;
  margin: 2px;
}

#search {
  border: none;
  outline: none;
  height: 50px;
  width: 350px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.417);
  color: black;
  font-size: 18px;
  text-align: center;
}

#busqueda {
  border: hidden;
  margin-left: -50px;
  margin-top: 5px;
  width: 260px;
}

#busqueda:focus {
  outline: none;
}

.table-contacts {
  width: 1000px;
  border: 2px solid green;
  background: rgba(255, 255, 255, 0.709);
  text-align: left;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

thead {
  background-color: rgba(208, 194, 144, 0.767);
  color: green;
  border-bottom: 2px solid green;
}

tr:nth-child(even) {
  background-color: rgba(188, 187, 187, 0.714);
}

tr:hover td {
  background-color: green;
  color: white;
}

main {
  font-family: "Roboto", sans-serif;
  text-align: center;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: url(../public/images/Fondo-login-unsplash.jpg) no-repeat center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 125vh;
}

h1 {
  color: white;
  border: 1px solid white;
}/*# sourceMappingURL=style.css.map */